@media screen and (max-width:1280px){

  .container {
    max-width: 1130px;
    padding: 0 10px;
  }

  .about__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .about {
    padding: 450px 0 110px 0;
  }

  .about__flex {
    align-items: center;
  }

  .services__grid {
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(3, 1fr);
  }

  .porfolio__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .question {
    padding: 110px 0;
  }

  .brands__flex {
    justify-content: center;
  }

  .reviews__grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media screen and (max-width:768px){
  .header {
    min-height: 550px;
  }

  .header__p {
    padding-bottom: 50px;
  }

  .about-h4 {
    font-size: 56px;
  }

  .about__grid-item {
    height: 150px;
  }

  .about {
    padding: 0 0 80px 0;
  }

  .about__info {
    padding: 57px 0 57px;
    position: relative;
    top: 0;
  }

  .project-h2 {
    padding-top: 50px;
    font-size: 30px;
  }

  .about__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .about__flex {
    flex-direction: column;
    align-items: center;
  }

  .emailus__grid {
    padding-bottom: 30px;
  }

  .emailus__h2 {
    font-size: 36px;
    padding-top: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    align-self: center;
  }

  .emailus__h4 {
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center; 
    align-self: center;
    margin: 20px 0;
  }

  .emailus__button {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    align-self: center;
    width: 155px;
    margin-bottom: 30px;
  }

  .services__grid {
    grid-template-columns: repeat(1, 350px);
  }

  .services__inner {
    text-align: center;
    padding: 100px 0;
  }

  .porfolio__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .question {
    padding: 80px 0;
  }
}

@media screen and (max-width:390px) {
  .header__h1 {
    font-size: 46px;
    line-height: 1.4;
  }

  .services__inner {
    padding: 50px 0;
  }

  .porfolio__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .question {
    padding: 50px 0;
  }

  .reviews__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}