/* Переменные цветов сайта */

:root {
  --accent: #F7654A;
  --dark: #404149;
  --gray: #999;
  --white: #FFF;
  --bgc: #E5E5E5;
}

/* Предустановленные стили текста */

.h2-text {
  font-size: 36px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}

.h3-text {
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.p-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.h4-text {
  font-size: 21px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.p-reviews {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
}

/* Основные настройки сайта */

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  background-color: var(--bgc);
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  width: 100%;
}

/* Бургер-меню */

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger-bg {
  background-color: var(--accent);
  width: 50px;
  height: 50px;
  display: absolute;
  padding-top: 12px;
}

.burger {
  position: relative;
  margin: 0 auto;
  z-index: 1;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 28px;
  height: 26px;
}

.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #fff;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #fff;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}
.menu-list {
  position: absolute;
  display: flex;
  justify-content: center;
  inset: 0;
  gap: 12px;
  padding: 12px 0;
  margin: -80px auto;
  border-radius: 0 0 5px 5px;
  background: var(--accent);
  list-style-type: none;
  transition: .3s;
  max-width: 550px;
  height: 70px;
}
.menu-item {
  display: block;
  padding: 8px;
  color: white;
  font-size: 28px;
  text-align: center;
  text-decoration: none;
}
.menu-item:hover {
  background: rgba(255,255,255,.2)
}
.burger-checkbox:checked ~ .menu-list {
  transform: translateY(100%);
}

/* Шапка сайта */

.header {
  min-height: 740px;
  background-image: url(../img/header_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.header__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 20px;
  margin-bottom: 112px;
}
.header-logo {
  width: 60px;
  height: 60px;
}
.header__burger {
  width: 50px;
  height: 50px;
  background-color: var(--accent);
  cursor: pointer;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.burger-line {
  display: block;
  width: 21px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 4px;

  &:last-child {
    margin-bottom: 0;
  }
}
.header__h1 {
  font-weight: 500;
  font-size: 64px;
  line-height: 95px;
  text-align: center;
  max-width: 734px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin: 0 auto 17px;
  color: var(--white);
}
.header__p {
  margin: 0 auto;
  color: var(--white);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  max-width: 734px;
  text-transform: uppercase;
}

/* Секция с информацией */

.about {
  min-height: 1080px;
  position: relative;
  padding-top: 250px;
}

.about__info {
  position: absolute;
  left: 50%;
  top: -150px;
  transform: translateX(-50%);
  background-color: #f7f7f7;
  max-width: 1110px;
  width: 100%;
  min-height: 300px;
  padding: 57px 120px;
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
  align-items: center;
}

.about__grid-item {
  text-align: center;
  width: 190px;
  height: 186px; 
}

.about-h4 {
  color: var(--accent);
  font-size: 72px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: normal;
  margin-bottom: 4px;
}

.about-h5 {
  color: #000;
  font-size: 36px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.about-p {
  color: var(--gray);
  font-size: 18px;
  line-height: normal;
  font-weight: 500;
}

/* Секция с проектами */

.project-h2 {
  text-align: center;
  margin-bottom: 50px;
}

.about__flex {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.about__flex-item {
  max-width: 350px;
}

.project-img {
  margin-bottom: 44px;
}

.line {
  width: 56px;
  height: 6px;
  background-color: var(--accent);
  margin-bottom: 15px;
}

.project-h3 {
  color: var(--dark);
  margin-bottom: 14px;
}

.project-p {
  color: var(--gray);
  line-height: 1.4;
}

/* Блок с запросом */

.emailus {
  background-color: var(--accent);
}
.emailus__grid {
  min-height: 181px;
  display: grid;
  grid-template-columns: repeat(2, 562px, 1fr);
  grid-template-rows: repeat(2, 100px, 70px);
  align-items: center;
}
.emailus__h2 {
  max-width: 537px;
  color: var(--white);
  font-size: 48px;
  font-weight: 700; 
  letter-spacing: 0.96px;
  text-transform: uppercase;
  grid-column-start: 1;
  grid-column-end: 2;
  padding-top: 15px;
}
.emailus__h4 {
  max-width: 562px;
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: self-start;
}
.emailus__button {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 175px;
  height: 49px;
  cursor: pointer;
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #fff;
  border: none;
  margin-top: 14px;
}
.emailus__button-icon {
  color: #000;
  font-size: 18px;
  letter-spacing: 0.9px;
}
.emailus__button-text {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

/* Блок с сервисами */

.services__inner {
  text-align: center;
  padding: 150px 0 138px 0;
}

.section__h2 {
  margin-bottom: 66px;
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
  justify-content: center;
}

.services__item {
  background-color: #f7f7f7;
  height: 250px;
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 48px 0;
}

.services__icon {
  width: 70px;
  height: 52px;
  margin: 0 auto 18px;
}

.services__h4 {
  letter-spacing: 0.025em;
  margin: 0 auto;
  text-transform: uppercase;
  max-width: 175px;
}

/* Блок с портфолио */

.porfolio__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

/* FAQ */

.question {
  padding: 151px 0 110px 0;
}
.question .section__h2 {
  text-align: center;
  margin-bottom: 50px;
}
.question__flex {
  display: flex;
  flex-direction: column;
}

.question__h3 {
  color: var(--accent);
  text-transform: uppercase;
  margin-bottom: 21px;
}

.question__h3.close {
  margin-bottom: 33px;
}

.question__h3.open::before,
.question__h3.close::before {
  content: '';
  display: inline-block;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.question__h3.open::before {
  transform: rotate(-90deg);
}

.question__h3.close + .question__p {
  display: none;
}

.question__p {
  color: var(--gray);
  max-width: 730px;
  margin-bottom: 35px;
  line-height: 1.4;
}

/* Блок с брендами */

.brands {
  background-color: var(--dark);
}
.brands__inner {
  padding: 100px 0;
  text-align: center;
}
.brands__inner .section__h2 {
  color: var(--white);
  margin-bottom: 50px;
}
.brands__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.brands__flex-item {
  max-width: 170px;
}

.reviews {
  padding: 150px 0;
}

.reviews .section__h2 {
  text-align: center;
}
.reviews__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.item-block {
  padding: 74px 30px 38px;
  position: relative;
  background-color: #f7f7f7;
  max-width: 350px;
  height: 254px;
  margin-bottom: 30px;
}

.reviews__brackets {
  position: absolute;
  left: 25px;
  top: 34px;
  transform: rotate(180deg);
  color: var(--accent);
  font-family: Oswald;
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.reviews__h4 {
  letter-spacing: 0.55px;
}

.reviews__h4 span {
  color: var(--accent);
}
